#include <Wire.h>
#include <Adafruit_Sensor.h>
#include "DHT.h"

#define DHTPIN 7
#define DHTTYPE DHT11
DHT dht(DHTPIN, DHTTYPE);

unsigned long t_{{.Id}}_lt = 0; // lastTrigger
bool t_{{.Id}}_lc = false; // lastCondition

void t_{{.Id}}_init() {

    dht.begin();
}

void t_{{.Id}}() {

    int value = dht.readTemperature();

    // create custom condition
    bool condition = value {{setting . "condition"}};

    if (condition && !t_{{.Id}}_lc) {
      a_{{.ActionId}}(value);
    }

    t_{{.Id}}_lc = condition;
}
